# Ambientes Virtuais
venv/
env/
.venv/

# Arquivos de cache e compilados do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de distribuição/build
build/
dist/
*.egg-info/

# Arquivos gerados pela aplicação
/data/books.csv
/data/scraping.log
scraped_page.html

# Arquivos de configuração de IDEs
.vscode/
.idea/

# Arquivos de sistema operacional
.DS_Store
Thumbs.db

# Arquivos de ambiente (para segredos locais)
.env

# Logs e bancos de dados locais
*.log
*.sqlite3

# Relatórios de teste e cobertura
.coverage
htmlcov/